<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppConfiguration" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="TypeResolver" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="ConnectionProviders" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="ResourceConnections" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="BackgroundTaskHost" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
  </configSections>

  <AppConfiguration provider="Seemplest.Core.Configuration.AppConfigProvider, Seemplest.Core"/>

  <TypeResolver>
    <Assemblies>
      <Assembly name="Seemplest.Core" />
      <Assembly name="Seemplest.MsSql" />
      <Assembly name="BackgroundTaskHostSample" />
    </Assemblies>
    <Namespaces>
      <Namespace name="Configuration" />
      <Namespace name="Diagnostics" />
      <Namespace name="Queue" />
      <Namespace name="Queue.Configuration" />
      <Namespace name="Tasks" />
      <Namespace name="Configuration.ResourceConnection" />
      <Namespace name="BackgroundTaskHostSample.Messages" />
    </Namespaces>
  </TypeResolver>

  <ConnectionProviders>
    <Provider type="SqlConnectionProvider" />
    <Provider type="QueueConnectionProvider" />
    <Provider type="QueueProvider" />
  </ConnectionProviders>

  <ResourceConnections>
    <SqlConnection name="queueDB" value="Data Source=.\sqlexpress;Integrated Security=True;Initial Catalog=Seemplest.Test;MultipleActiveResultSets=True;"/>
    <QueueConnection name="queue" type="SqlNamedQueueProvider" initialParams="name=queueDB"/>
    <Queue name="requestQueue" providerKey="queue" queueName="RequestQueue" autoCreate="True" />
    <Queue name="responseQueue" providerKey="queue" queueName="ResponseQueue" autoCreate="True" />
  </ResourceConnections>

  <BackgroundTaskHost>
    <DefaultContext providerKey="queue">
      <Property name="PeekWaitTime" type="int" value="20" />
    </DefaultContext>
    <TaskProcessors>
      <!-- Task generating binary operations -->
      <TaskProcessor name="Producer" processorType="continuous" taskType="BinaryOperationProducerTask" instanceCount="1">
        <Context providerKey="queue">
          <Property name="BatchSize" type="int" value="10" />
        </Context>
        <ProcessorProperties>
          <Property name="TaskSleepInMilliseconds" value="400" />
        </ProcessorProperties>
      </TaskProcessor>

      <!-- Task generating poisoning messages -->
      <TaskProcessor name="Poisoner" processorType="scheduled" taskType="PoisoningTask" instanceCount="1">
        <ProcessorProperties>
          <Property name="FrequencyType" value="Second" />
          <Property name="Frequency" value="1" />
        </ProcessorProperties>
      </TaskProcessor>

      <!-- Task processing binary operations -->
      <TaskProcessor name="Processor" processorType="queuedWithResult" taskType="BinaryOperationProcessorTask"
                     argumentType="BinaryOperationMessage" resultType="BinaryOperationResultMessage"
                     peekPolicy="FixPeekWaitPolicy" instanceCount="1">
        <ProcessorProperties>
          <Property name="RequestQueueKey" value="requestQueue" />
          <Property name="ResponseQueueKey" value="responseQueue" />
          <Property name="VisibilityTimeoutInSeconds" value="1" />
        </ProcessorProperties>
      </TaskProcessor>

      <!-- Task displaying operation results -->
      <TaskProcessor name="Consumer" processorType="queued" taskType="ResultConsumerTask"
                     argumentType="string" peekPolicy="GreedyPeekPolicy" instanceCount="1">
        <ProcessorProperties>
          <Property name="RequestQueueKey" value="responseQueue" />
        </ProcessorProperties>
      </TaskProcessor>
    </TaskProcessors>
  </BackgroundTaskHost>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>